@{
    ViewBag.Title = "Chat Page";
}
<h2>Chat</h2>

<div class="main">
    <div class="form-group" id="loginBlock">
        <div class="form-group">
            <input id="txtUserName" type="text" class="form-control" placeholder="Type your login...">
        </div>
        <div class="form-group">
            <button id="btnLogin" class="btn btn-outline-primary btn-lg" type="submit">Enter chat!</button>
        </div>
    </div>
    <div id="chatBody">
        <div id="header"></div>
        <div id="inputForm" class="form-group">
            <input type="text" id="message" class="form-control form-group" placeholder="Type your message here" />
            <button type="button" class="btn btn-outline-info form-group" id="sendmessage">Send</button>
        </div>
        <div id="chatroom" class="form-group"></div>

        <div id="chatusers" class="form-group">
            <h3><b>All Users</b></h3>
        </div>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<!--auto generated scirpt of hub SignalR -->
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/chat.js"></script>