@{
    ViewBag.Title = "Chat Page";
}
<h2>Chat</h2>

<div class="main">
    <div class="form-group">
        <input id="txtUserName" type="text" class="form-control" placeholder="Type your login...">
    </div>
    <div>
        <button id="btnLogin" class="btn btn-outline-primary btn-lg" type="submit">Enter chat!</button>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!--auto generated scirpt of hub SignalR -->
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>